{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block body %}
<section class="order container">
<h2 class="h2">Erreur de paiement</h2>
<p class="order_title">
  Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong><br>
  Nous avons rencontrer un problème avec votre paiement pour votre commande n° {{ order.reference }}<br>
</p>
<hr class="order_line">
<p class="order_title">
  Une confirmation d'erreur vient de vous être envoyé par email à l'adresse {{ order.user.email }}<br>
</p>
<hr class="order_line">
<div class="order_action"><a href="{{ path('order') }}" class="btn btn_purple" >Réessayer le paiement</a></div>
</section>
{% endblock %}
