{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<section class="hero">
<div class="owl-carousel owl-carousel owl-loaded owl-drag">
  {% if banners %}
  {% for banner in banners %}
    <div class="hero_slider">
      <div class="hero_wrap">
        <h1 class="hero_title">{{banner.title}}</h1>
        <p class="hero_subtitle">{{ banner.content }}</p>
        <div class="hero_btn">
          <a href="{{ banner.btnUrl }}" class="btn btn_white">{{ banner.btnTitle }}</a>
        </div>
      </div>
      <div class="hero_preview">
        <img src="/uploads/{{ banner.illustration }}" alt="{{banner.title}}" width="100%" height="100%"/>
      </div>
    </div>
  {% endfor %}
  {% endif %}
</div>
</section>
{% if products %}
<section class="productFeatured container">
  <div class="productFeatured_list">
    {% for product in products %}
      <div class="productFeatured_product">
        <div class="productFeatured_item">
          <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}">
          <a href="{{ path('product',{'slug': product.slug}) }}" class="overlay">
            <h4 class="h5">Voir</h4>
          </a>
        </div>
        <div class="productFeatured_label">
          <h5 class="h6">{{ product.name }}</h5>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="productFeatured_link">
    <a href="{{ path('products') }}">Voir le catalogue</a>
  </div>
</section>
{% endif %}
<section class="bestProduct container">
  <div class="bestProduct_content">
    <h2 class="h2">Lorem, ipsum dolor.</h2>
    <p class="bestProduct_subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos?</p>
    <button class="btn btn_white">S'inscrire</button>
  </div>
  <div class="bestProduct_img">
    <img src={{asset('/images/bestProduct/best-1.jpg')}} alt="best product" width="100%" height="100%">
  </div>
</section>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('home') }}
{% endblock %}
