{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<section class="order container">
<h2 class="h2">Commande</h2>
<p class="order_title">Choisissez vos préférences avant de passer commande...</p>
<hr>
<div class="order_row">
  <div class="order_col">
      <p class="order_label">choisir mon addresse de livraison</p>
      {{ form_start(form,{'attr': {'class': 'form'}}) }}
      <div class="form_list">
        {% for address in form.addresses %}
          <div class="form_check">
            {% set formHtml %}
            {{ form_widget(address) }}
            {{ form_label(address) }}
            {{ form_errors(address) }}
            {% endset %}
            {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
          </div>
        {% endfor %}
      </div>
      <p class="order_label">Choisir mon transporteur</p>
      <div class="form_list">
        {% for carrier in form.carriers %}
          <div class="form_check">
            {% set formHtml %}
            {{ form_widget(carrier) }}
            {{ form_label(carrier) }}
            {{ form_errors(carrier) }}
            {% endset %}
            {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
          </div>
        {% endfor %}
      </div>
      {{ form_end(form) }}
  </div>
  <div class="order_col">
    <p>Récap de ma commande</p>
    <p>Bouton pour payer</p>
  </div>
</div>
</section>
{% endblock %}
